<section *ngIf="stories" class="panel-body">

    <input type="text" [(ngModel)]="term">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Telefono</th>
            <th scope="col">Fecha registro</th>
            <th scope="col">Nombre mascota</th>
            <th scope="col">Raza</th>
          </tr>
        </thead>
        <tbody>
            <tr class="table-active" *ngFor="let story of stories |filter:term">
              <td>
                <a href="#" [routerLink]="['/clinicstory', clinicstory.id]">{{story.owner}}</a>
              </td>
              <td>
                <a>{{story.phone}}</a>
              </td>
              <td>
                <a>{{story.fecha}}</a>
              </td>
              <td>
                <a>{{story.name}}</a>
              </td>
              <td>
                <a>{{story.race}}</a>
              </td>
              <td align="center">
                 <button mat-raised-button color="primary" type="submit" (click)="selectedStory(story)">Editar</button> 
              </td>  
            </tr>
        </tbody>
      </table>
</section> 