<section>
<div>
  <form (ngSubmit)="saveValues()">
    
    
    <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span>Walvet</span>
          <span class="example-spacer"></span>
          <mat-icon class="example-icon" [matMenuTriggerFor]="menu">menu</mat-icon>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
        </mat-toolbar-row>
      </mat-toolbar>

      <br />
    
        <mat-form-field>
                <input matInput placeholder="Nombre Mascota" required minlength="6" required [(ngModel)]="currentClinic.name" name="name">
        </mat-form-field>
        <mat-form-field>
                <input matInput placeholder="Especie" required minlength="6" required [(ngModel)]="currentClinic.specie" name="specie">
        </mat-form-field>
        <mat-form-field>
                <input matInput [matDatepicker]="picker1" placeholder="Fecha" [formControl]="date">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
    
       <mat-form-field>
            <input matInput placeholder="Raza" required minlength="6" required [(ngModel)]="currentClinic.race" name="race">
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Color" required minlength="6" required [(ngModel)]="currentClinic.colour" name="colour">
        </mat-form-field>

        <mat-form-field>
                <input matInput placeholder="Genero" required minlength="6" required [(ngModel)]="currentClinic.gender" name="gender">
        </mat-form-field>    

        <mat-form-field>
                <input matInput [matDatepicker]="picker2" placeholder="Fecha Nacimiento" [formControl]="born_date">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        
        <mat-form-field>
                <input matInput placeholder="Historia" required minlength="6" required [(ngModel)]="currentClinic.story" name="story">
        </mat-form-field> 

        <mat-form-field>
                <input matInput placeholder="Edad" required minlength="6" required [(ngModel)]="currentClinic.age" name="age">
        </mat-form-field> 

        <mat-form-field>
                <input matInput placeholder="Propietario" required minlength="6" required [(ngModel)]="currentClinic.owner" name="owner">
        </mat-form-field> 

        <mat-form-field>
                <input matInput placeholder="Dirección" required minlength="6" required [(ngModel)]="currentClinic.adress" name="adress">
        </mat-form-field>

        <mat-form-field>
                <input matInput placeholder="Phone" required minlength="6" required [(ngModel)]="currentClinic.phone" name="phone">
        </mat-form-field>

    <br />
    <button mat-raised-button color="primary" type="submit" class="btn">Guardar</button>

  </form>
</div>

</section>